/*font-family: 'Sono', sans-serif;´*/
#body{
    padding-bottom: 90px;
    min-height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.8),rgba(5,7,12,0.8)), url(/img/bgbody.png) repeat center center fixed;
}

html {
    scroll-behavior: smooth;
}

.scroll-section{
    scroll-margin-top: 90px;
}
/* TODO LO DE INICIO */
#inicio{
    min-height: 100vh;
    height: auto;
    padding-top: 11%;
    /* padding-bottom: 40; */
    padding-left: 10%;
    /* background-color: #098cae; */
    background-color: #12294493;
    
    
}

#imginicio{
    width: 30vw;
    min-width: 300px;
    filter: drop-shadow(0 8px 2px rgba(0, 0, 0, 0.5));
    
}


.Nombre{
    padding: 30px 10px;
    border-radius: 10px;
    font-family: 'Sono', sans-serif;
    filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.5));
    
}
/* FIN TODO LO DE INICIO */

/* FUENTE PARA EL SITIO */
.fuente{
    font-family: 'Montserrat', sans-serif;
    color: white;
    filter: drop-shadow(0 8px 2px rgba(0, 0, 0, 0.5));
}
/* FIN FUENTE PARA EL SITIO */


/* SECCION HABILIDADES */
#contenedor-habilidades{
    min-height: 100vh;
    height: auto;
    padding-top: 56px;
    background-color: #12294493;
    


}


.paddinglogos{
    padding: 40px 40px;
}

.habilidades{
    font-family: 'Sono', sans-serif;
    text-align: center;
}

#logoshab{
    width: 100px;
    height: 90px;
    filter: drop-shadow(0 8px 2px rgba(0, 0, 0, 0.5));
    margin: 30px;
}

.nombrelogo{
    font-size: 30px;
}

/* FIN SECCION HABILIDADES */

/* SOBRE MI */

#contenedor-sobremi{
    padding-top: 90px;
    background-color: #121f307e;
    min-height: 100vh;
    height: auto;
}

#img-sobremi{
    margin-top: 80px;
    width: 70%;
    filter: drop-shadow(0 8px 2px rgba(0, 0, 0, 0.5));
}

/* FIN SOBRE MI */

/* SECCION FORMACION */
#contenedor-formacion{
    min-height: 100vh;
    height: auto;
    padding-top: 56px;
    background-color: #121f307e;
    padding-bottom: 15px;
}

.tamañocards{
    padding: 8%;
    filter: drop-shadow(0 8px 2px rgba(0, 0, 0, 0.5));
}

#imgcard1{
    width: 60%;
    padding: 3%;
    filter: drop-shadow(0 8px 2px rgba(0, 0, 0, 0.5));
}
#imgcard2{
    width: 93%;
    padding: 2%;
    filter: drop-shadow(0 8px 2px rgba(0, 0, 0, 0.5));
}


/* FIN SECCION FORMACION  */

/* SECCION CONTACTO */

#contenedor-contacto{
    background-color: #12294493;
    min-height: 100vh;
    height: auto;
    padding-top: 100px;
    /* padding-bottom: 15px; */
}

#form-contacto{
    background-color: #121f30;
    padding: 2%;
    border-radius: 3%;
}

.contenedor-form{
    padding: 1%;
}
/* FIN SECCION CONTACTO */



/* PIE DE PAGINA */

/* FIN PIE DE PAGINA */
