<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Montserrat&family=Sono&display=swap"
    rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/logofacu.png" />
  <title>Portafolio Facundo Picard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

</head>

<body id="body">

  <!-- BARRA NAVEGACION -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="#inicio"
              onclick="cerrar()">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="#contenedor-sobremi" onclick="cerrar()">Sobre mí</a></li>
          <li class="nav-item"><a class="nav-link" href="#habilidades" onclick="cerrar()">Habilidades</a></li>
          <li class="nav-item"><a class="nav-link" href="#formacion" onclick="cerrar()">Formación</a></li>
          <li class="nav-item"><a class="nav-link" href="#contenedor-contacto" onclick="cerrar()">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- FIN BARRA DE NAVEGACION -->

<!-- INICIO -->

  <div id="inicio" class="container-fluid">
    <div class="row  text-left scroll-section">
      <div class="col-lg-6">
        <!-- <h1 id="tituloinicio" style="color: rgb(255, 255, 255);" class="animate__animated animate__fadeInLeftBig  h1 Nombre fs-1 pb-2"> Hola! Soy <br> <b> Facundo Picard </b> <br></h1> -->
        <div id="tituloinicio" class='console-container fuente fs-1 pt-3'><span id='text'></span>
          <div class='console-underscore fuente' id='console'>&#95;</div>
        </div>
        <br><br>
      </div>
      <div data-aos="fade-down" data-aos-duration="2000" class="col-lg-6 text-center pt-4 pb-4">
        <img id="imginicio" src="images/img7.png" alt="imagen">
      </div>
      <div class="pt-sm-4">
        <a href="https://github.com/FacundoPicard" target="_blank"><img
            class=" animate__animated animate__fadeInLeftBig animate__delay-4s " id="logosinicio"
            src="images/logofooter1.png" alt=""></a>
        <a href="https://www.instagram.com/facu.picard/" target="_blank"><img
            class=" animate__animated animate__fadeInLeftBig animate__delay-3s " id="logosinicio"
            src="images/logofooter2.png" alt=""></a>
        <a href="https://www.linkedin.com/in/facundo-picard-a45a79247/" target="_blank"><img
            class=" animate__animated animate__fadeInLeftBig animate__delay-2s" id="logosinicio"
            src="images/logofooter3.png" alt=""></a>
      </div>

    </div>
  </div>

  <!-- FIN SECCION INICIO -->




  <!-- SOBRE MI -->
  <div id="contenedor-sobremi" class="container-fluid text-center">
    <div class="row">
      <div data-aos="fade-up" data-aos-duration="2000" id="sobre-mi" class="col-lg-5 fuente scroll-section">
        <h1 class="fs-1">Sobre mí</h1><br>
        <p class="fs-5">Me gradué de la tecnicatura de "Administración de empresas con especialización en finanzas y
          comercialización". Busco ampliar mis conocimientos en la programación, especificamente en el desarrollo web.
          <br><br>

          Actualmente estoy estudiando, en el centro de e-learning de la Universidad Tecnologica Nacional, el curso de
          programacion web inicial - Front End Developer. Aspiro a conseguir empleo en el sector del Desarrollo Web,
          adquirir experiencia, nuevos conocimientos y fortalecer mi vida profesional. <br><br>

          Me considero una persona proactiva, organizada y responsable, con buenas relaciones interpersonales. Siempre
          tengo la mejor disposición para realizar mis labores como asi tambien para el aprendizaje de nuevas tareas.
        </p>
      </div>
      <div data-aos="fade-down" data-aos-duration="2000" class="col-lg-7"><img id="img-sobremi" src="images/img1.png"
          alt=""> </div>
    </div>
  </div>
  <!-- FIN SOBRE MI -->




  <!-- */SECCION HABILIDADES */  -->


  <div id="contenedor-habilidades" class="container-fluid text-center">
    <h1 id="habilidades" class="scroll-section fuente fs-1">Habilidades</h1>
    <div class="fuente row">
      <div data-aos="fade-down" data-aos-duration="2000"
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 paddinglogos"><img id="logoshab" src="images/htmllogo.png"
          alt="HTML"><br>
        <p id="letrashtml" class="nombrelogo fs-3">HTML</p>
      </div>
      <div data-aos="fade-down" data-aos-duration="2000"
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 paddinglogos"><img id="logoshab" src="images/csslogo.png"
          alt="CSS"><br>
        <p id="letrascss" class="nombrelogo fs-3">CSS</p>
      </div>
      <div data-aos="fade-down" data-aos-duration="2000"
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 paddinglogos"><img id="logoshab" style="width: auto"
          src="images/jslogo.png" alt="JAVASCRIPT"><br>
        <p id="letrasjs" class="nombrelogo fs-3">Java Script</p>
      </div>
      <div data-aos="fade-down" data-aos-duration="2000"
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 paddinglogos"><img id="logoshab" src="images/gitlogo.png"
          alt="GIT"><br>
        <p id="letrasgit" class="nombrelogo fs-3">GIT</p>
      </div>
      <div data-aos="fade-up" data-aos-duration="2000"
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 paddinglogos"><img id="logoshab"
          src="images/bootstraplogo.png" alt="BOOTSTRAP"><br>
        <p id="letrasbootstrap" class="nombrelogo fs-3">Bootstrap</p>
      </div>
      <div data-aos="fade-up" data-aos-duration="2000"
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 paddinglogos"><img id="logoshab" style="width: auto;"
          src="images/nodejslogo.png" alt="NODE.JS"><br>
        <p id="letrasnode" class="nombrelogo fs-3">Node.js</p>
      </div>
      <div data-aos="fade-up" data-aos-duration="2000"
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 paddinglogos"><img id="logoshab" style="width: auto;"
          src="images/sqllogo.png" alt="SQL"><br>
        <p id="letrassql" class="nombrelogo fs-3">SQL</p>
      </div>
      <div data-aos="fade-up" data-aos-duration="2000"
        class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 paddinglogos"><img id="logoshab"
          src="images/herokulogo1.png" alt="HEROKU"><br>
        <p id="letrasheroku" class="nombrelogo fs-3">Heroku</p>
      </div>
    </div>
    <div>
      <h1 data-aos="fade-up" data-aos-duration="2000" class="fuente">Otras habilidades</h1>
      <ul>
        {{#each novedades}}
        <p data-aos="fade-up" data-aos-duration="2000" class="fuente fs-3">{{titulo}}</p>
        {{/each}}
      </ul>
      
    </div>
  </div>

  <!-- FIN SECCION HABILIDADES -->

  <!-- SECCION FORMACION-->

  <div id="contenedor-formacion" class="mx-auto text-center">
    <h1 id="formacion" class="scroll-section fuente mx-auto fs-1">Formación</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-auto tamañocards">
      <div class="col mx-auto" data-aos="flip-left" data-aos-duration="2000">
        <div class="card h-100 align-items-center text-bg-dark border-light border-opacity-75 ">
          <img id="imgcard1" src="images/ieslogo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fuente">Administración de empresas con especialización en finanzas y
              comercialización.</h5>
            <p class="card-text fuente">2020 - 2022</p>
          </div>
        </div>
      </div>
      <div class="col mx-auto" data-aos="flip-right" data-aos-duration="2000">
        <div class="card h-100 align-items-center text-bg-dark border-light border-opacity-75">
          <img id="imgcard2" src="images/utnlogo.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fuente">Curso de programación web inicial. Front-End Developer</h5>
            <p class="card-text fuente">En curso</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FIN SECCION FORMACION -->

  <!-- SECCION CONTACTO -->

  <div id="contenedor-contacto" class="container-fluid">
    <h1 class="fuente text-center fs-1">Contacto</h1>


    <div data-aos="fade-up" data-aos-duration="2000"
      class="row col-sm-11 col-md-9 col-lg-6 col-xl-6 col-xxl-6 mx-auto contenedor-form pb-4">
      <form id="form-contacto" class="col rounded-4" action="/" method="post">
        <p class="fuente text-center fst-italic fs-6">Complete el siguiente formulario y me pondré en contacto con
          usted.</p>
        <div class="mb-3">
          <input class="form-control" type="Nombre" placeholder="Nombre" name="nombre" required>
        </div>
        <div class="mb-3">
          <input class="form-control" type="Email" placeholder="E-mail" name="email" required>
        </div>
        <div class="mb-3">
          <input class="form-control" type="Asunto" placeholder="Asunto" name="asunto" required>
        </div>
        <div class="mb-3">
          <textarea class="form-control" cols="30" rows="10" placeholder="Mensaje" name="mensaje" required></textarea>
        </div>

        <button class="btn btn-outline-info col-sm-5 col-md-5 col-lg-3 col-xl-3 col-xxl-3" type="submit">Enviar</button>
      <p class="fuente"> {{message}} </p>
      </form>

    </div>

  </div>
<!-- FIN SECCION CONTACTO -->
  
  {{{body}}}
  


 

  <!-- ENLACES JAVASCRIPTS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  {{!-- <script src="/public/javascripts/index.js"></script> --}}

</body>
</html>